In [28]:
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime as dt
from selenium import webdriver
import time
from webdriver_manager.chrome import ChromeDriverManager
import re

In [59]:
from webdriver_manager.chrome import ChromeDriverManager
option = webdriver.ChromeOptions()
option.add_argument('--headless')
option.add_argument('--no-sandbox')
option.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome(ChromeDriverManager(version='95.0.4638.69').install(), options = option)
source = 'https://public.tableau.com/views/newcovid_15955025099650/BERANDA?:embed=y&amp;amp;:showVizHome=no&amp;amp;:host_url=https%3A%2F%2Fpublic.tableau.com%2F&amp;amp;:embed_code_version=3&amp;amp;:tabs=no&amp;amp;:toolbar=yes&amp;amp;:animate_transition=yes&amp;amp;:display_static_image=no&amp;amp;:display_spinner=no&amp;amp;:display_overlay=yes&amp;amp;:display_count=yes&amp;amp;:language=en&amp;amp;:loadOrderID=0'

====== WebDriver manager ======
Driver [/Users/gitasafitri/.wdm/drivers/chromedriver/mac64/95.0.4638.69/chromedriver] found in cache

In [60]:
driver.get(source)
content = driver.page_source

In [62]:
from tableauscraper import TableauScraper as TS

url = "https://public.tableau.com/views/newcovid_15955025099650/BERANDA?:embed=y&amp;amp;:showVizHome=no&amp;amp;:host_url=https%3A%2F%2Fpublic.tableau.com%2F&amp;amp;:embed_code_version=3&amp;amp;:tabs=no&amp;amp;:toolbar=yes&amp;amp;:animate_transition=yes&amp;amp;:display_static_image=no&amp;amp;:display_spinner=no&amp;amp;:display_overlay=yes&amp;amp;:display_count=yes&amp;amp;:language=en&amp;amp;:loadOrderID=0"
data = []
ts = TS()
ts.loads(url)
workbook = ts.getWorkbook()

for t in workbook.worksheets:
    #show worksheet name
    #print(f"WORKSHEET NAME : {t.name}")
    #show dataframe for this worksheet
    print(t.data)
    data.append(t.data)

   SUM(KONFIRMASI)-alias
0                  18050
   SUM(KONTAK ERAT)-alias
0                    8199
   SUM(MENINGGAL)-alias
0                   443
   SUM(PROBABLE)-alias
0                   48
   SUM(SEMBUH)-alias
0              17599
   SUM(SUSPEK)-alias
0               4055

In [63]:
data_=[]
for i in range(len(data)):
    a = (re.findall(r'\d+', str(data[i])))
    data_.append(a[1])

In [64]:
data_

['18050', '8199', '443', '48', '17599', '4055']

In [86]:
content = driver.page_source
soup = BeautifulSoup(content,'lxml')
div = soup.findAll("div",class_='tab-textRegion-content')[8]
tgl=div.get_text()
tgl_= tgl.split(" ")
thn = tgl_[3].split(",")
tgl_

['Tanggal:', '2', 'Desember', '2021,', '16:00', 'WITA']

In [88]:
bulan = ['januari', 'februari', 'maret', 'april', 'mei', 'juni','juli','agustus', 'september', 'oktober','november','desember']
bln = bulan.index(tgl_[2].lower())+1
date_ = thn[0]+'-'+str(bln)+'-'+tgl_[1]
date_update=dt.strptime(date_,'%Y-%m-%d').strftime('%Y-%m-%d')

now = dt.now().strftime('%Y-%m-%d')

In [89]:
scrape_date = []
date_update2 = []
provinsi = []
kabkot = []
kecamatan = []
kelurahan= []
total_odp = []
total_pdp = []
total_positif = []
positif_sembuh = []
positif_dirawat = []
positif_isolasi = []
positif_meninggal = []
types = []
source_link = []
user_pic = []

total_pdp.append((int(data_[3])+(int(data_[5]))))
total_odp.append(data_[1])
positif_dirawat.append(0)
total_positif.append(data_[0])
positif_meninggal.append(data_[2])
positif_sembuh.append(data_[5])
positif_isolasi.append(0)
scrape_date.append(now)
date_update2.append(date_update)
provinsi.append('Kalimantan Timur')
kabkot.append('Kutai Timur')
kecamatan.append('')
kelurahan.append('')
types.append('Kabkot')
source_link.append(url)
user_pic.append('Tubagus Ibrohim')

In [90]:
#create table
df = pd.DataFrame()
df['scrape_date'] = scrape_date
df['date_update'] = date_update2
df['provinsi']= provinsi
df['kabkot'] = kabkot
df['kecamatan'] = kecamatan
df['kelurahan'] = kelurahan
df['total_odp'] = total_odp
df['total_pdp'] = total_pdp
df['total_positif'] = total_positif
df['positif_sembuh'] = positif_sembuh
df['positif_dirawat'] = positif_dirawat
df['positif_isolasi'] = positif_isolasi
df['positif_meninggal'] = positif_meninggal
df['types'] = types
df['source_link'] = source_link
df['user_pic'] = user_pic
 #Output
df

,scrape_date,date_update,provinsi,kabkot,kecamatan,kelurahan,total_odp,total_pdp,total_positif,positif_sembuh,positif_dirawat,positif_isolasi,positif_meninggal,types,source_link,user_pic
0,2021-12-13,2021-12-02,Kalimantan Timur,Kutai Timur,,,8199,4103,18050,4055,0,0,443,Kabkot,https://public.tableau.com/views/newcovid_1595...,Tubagus Ibrohim